$text-primary: gray;
$text-sm: 14px;
$text-md: 18px;
$text-lg: 24px;

.active {
  color: yellowgreen;
}

.default {
  color: greenyellow;

}

.red {
  color: rgb(204, 0, 0);
}

.loaderContainter {
  height: 100vh;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  color: rgb(225, 237, 255);
  padding: 1rem 4rem;

}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 1rem 0;

  .logo {
    .image {
      border-radius: 50%;

    }
  }

  ul {
    display: flex;



    li {
      list-style: none;
      padding: 0 1rem;
      transition: .1s all ease-in;

      &:hover {
        color: greenyellow;
      }
    }

  }


}

.imgrad {
  border-radius: 50%;
}

// hamburger styling
.hamburger {
  display: none;
}


.mobileNav {
  display: none;
}


@media only screen and (max-width: 746px) {

  /* max-width 640px, mobile-only styles, use when QAing mobile issues */


  .mobileNav {
    display: flex;
    float: right;
    min-width: 15%;
    margin: 0 0 1rem 1rem;


    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;

      height: 10rem;
      border-radius: 2rem 0rem 0rem 2rem;
      padding: 15px;
      list-style: none;
      width: 100%;
      background: rgba(153, 205, 50, 0.339);

      li {
        padding-bottom: 3px;
        font-size: 13px;
      }
    }
  }

  .nav {
    ul {
      display: none;
    }
  }


}