$text-primary: gray;
$text-sm: 14px;
$text-md: 18px;
$text-lg: 24px;

.active{
  color: yellowgreen;
}
.default{
  color: greenyellow;

}
.red {
  color: rgb(204, 0, 0);
}
.loaderContainter{
  height: 100vh;
}
.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  color: rgb(225, 237, 255);
  padding: 2rem 4rem;

}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 2rem 0;

  .logo {
    .image {
      border-radius: 50%;

    }
  }

  ul {
    display: flex;
  
      

    li {
      list-style: none;
      padding: 0 1rem;
      transition: .1s all ease-in;
      &:hover{
        color: greenyellow;      }
  }

  }
  .login{
   button{
    padding: .5rem 1rem;
    background-color: yellowgreen;
    color: black;
    border-radius: 5px;
    border: 2px solid rgb(213, 213, 213);
    font-size: $text-md;
    transition: .3s all ease-in;
    &:hover{
      background-color: rgb(212, 253, 130);

    }
   }
  }
}
.imgrad {
  border-radius: 50%;
}








//hamburger stylin

// .hamburger{
//   display: none;
// }
// @media only screen and (max-width: 900px){
//   .hamburger{
//     display: block;
//     cursor: pointer;
//     .line{
//       width: 30px;
//       height: 3px;
//       background-color: aliceblue;
//       margin: 6px 0;
//     }
   
//     }
//   }
//   .nav{
//     position: absolute;
//     top: 0px;
//     height: 0px;
//     left: 0;
//     right: 0;
//     transition: 0.2s;
//     overflow: hidden;
    
//     ul{
//       display: block;
//       margin: -20rem auto 0 auto;
//       text-align: center;
//       opacity: 0;
//       li{
//         margin-bottom: 2rem;
//       }
//     }
// }
// .activee{
//   color: green;
//   background-color: blue;
// }